.task{
    display: flex;
}

.checked{
    text-decoration: line-through;
    text-decoration-color: green;
}

form{
    margin-block-end: 0;
}

p{
    margin-bottom: 0;
}


body {
    overflow: hidden;
    background: linear-gradient(to top right, #ffffff, #33ccff);
}
  
  
  